*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --color-bg: #E5E5E5;
  --color-bg-variant:#F1F3FF;
  --color-primary:#0D28A6;
  --color-primary-button:#5CB85F;

  --color-black:#000000;
  --color-white:#FFFFFF;
  --color-grey:#8A8A8A;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  font-family: arial;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  max-width: 1440px;
  
}

section{
  margin: 1rem 5rem;
  padding: 1rem;
}

section>h2{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
 
}

h1,h2,h3,h4,h5{
  font-weight: 700;
}

h1{
  font-size: 36px;
  line-height: 150%;
}

h2{
  font-size: 24px;
  line-height: 36px;
}

p{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

li{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

}
a{
  color: var(--color-black);
  transition: var(--transition);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  
}

a:hover{
  text-decoration: underline solid var(--color-primary);
 
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



