.bannersearch__section {

}

.hero__section {
  position: relative;
  height: 200px;

}

.about__section {
 
}

.search__section {
  position: absolute;
  margin-top: -50px;
  width: 1047px;
  height: auto;
  padding: 2rem;
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
  
}

.search__Container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.search__Container button {
  
  background-color: var(--color-primary-button);
  
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 12px;

  border-radius: 2px;
  margin-top: 30px;
  color: white;
}

.search__Container p{
  color: white;
}



.search__Container a:hover {
  color: blue;
  text-decoration: none;
}

.about__section {
  display: flex;
  margin-top: 220px;
}

.about__detail li {
  list-style: circle;
}

.about__Result{
  margin-left: 148px;
  margin-top: -80px;
}

@media (max-width: 600px) {
  .about__Result {
    margin-left: 50px;
    margin-top: 10px;
    background-color: aliceblue;
  }
 
  .car__Wrapper{
   
    margin-top: 10px;
  }
 .search__section{
  
  top: 200px;
 }

 .about__section{
  margin-top: 450px;
  flex-wrap: wrap;
 }
  
}